body {
}

.form-container {
  width: 400px;
  margin: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: black;
}

.intro {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-button {
  background-color: #f8f8f9 !important;
  border-radius: 10px 10px 0 0 !important;
}

.editable {
  cursor: pointer;
}

.select-speaking,
.select-learning {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button-container-speaking,
.button-container-learning {
  display: flex;
  justify-content: center;
}

.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-flag-container {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-flag {
}

.word {
  border: 1px solid white;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

.dialogue {
  margin: 15px 0;
}

.selected-dialogue-word {
  background-color: green;
}
